<!DOCTYPE html>
<html>
  <head>
    <title>The Fight Site</title>
  <head>
  <body>
  <%= link_to 'The Fight Site', controller: 'fights' %>
  <p >This is a test</p>
    <%-# = yield %>
  </body>
</html>


<% if false %>
code to comment
<% end %>

<%-# commented line -%>
