<!DOCTYPE html>
<html>
  <head>
    <title>The Fight Site</title>
	<% if false %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %> 
    <%= csrf_meta_tags %>
	<% end %>
  <head>
  <body>
  <%= link_to 'The Fight Site', controller: 'fights' %>
    <%-# = yield %>
  </body>
</html>


<% if false %>
code to comment
<% end %>

<%-# commented line -%>
